<div class="row">
    <div class="col-md-10">
        <!--Bénéficiaire-->
        <div class="col-md-6">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">Bénéficiaire</div>

                    <div class="panel-options">
                        <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                        <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Prénom :</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="Mark">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Nom :</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="Otto" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Date naissance :</label>

                            <div class="col-md-8">
                                <input class="form-control" type="date" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Sexe :</label>


                            <div class="col-md-8">
                                <label class="radio-inline" style="font-size:20px;">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> M
                                </label>


                                <label class="radio-inline" style="font-size:20px;">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> F
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Assurance Maladie :</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Assurance Social :</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Sécurité de revenu :</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " value="">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" value="">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Date d'enregistrement :</label>

                            <div class="col-md-6">
                                <input class="form-control" type="date" value=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Scolarité :</label>
                            <div class="col-md-4">
                                <select class="form-control">
                                    <option>Aucune</option>
                                    <option>Primaire</option>
                                    <option>Secondaire</option>
                                    <option>Collégial</option>
                                    <option>Université</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Origine :</label>
                            <div class="col-md-4">
                                <select class="form-control">
                                    <option>Canadien</option>
                                    <option>Autochtone</option>
                                    <option>Autre</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Total pour l'hébergement :</label>

                            <div class="col-md-5">
                                <input class="form-control" type="text" placeholder="0.00$" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Total pour les coupons :</label>

                            <div class="col-md-5">
                                <input class="form-control" type="text" placeholder="0.00$" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Problème de santé :</label>

                            <div class="col-md-2">
                                <input name="ProbSanters" class="form-control" type="checkbox" ng-model="santer" />
                            </div>
                        </div>
                        <div>
                            <label class="col-md-4 control-label">Formation :</label>

                            <div class="col-md-2">
                                <input  class="form-control" type="checkbox" ng-model="formation"  />
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>

        <!--Santé-->
        <div ng-show="santer"  class="content-box col-md-6">

            <div>
                <label>Santé</label>
            </div>
            <div>
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>
                            Nom
                        </td>
                        <td>
                            Description
                        </td>
                        <td>
                            Type
                        </td>


                    </tr>
                    <tr ng-repeat="psanter in Santer">
                        <td>
                            <input class="form-control" style="width:130px;" type="text" value="Migraine" />
                        </td>
                        <td>
                            <input class="form-control" type="text" value="Maux de tête fréquent" />
                        </td>
                        <td>
                            <select class="form-control">
                                <option>
                                    Allergie
                                </option>
                                <option>
                                    Handicap
                                </option>
                                <option>
                                    Maladie
                                </option>
                            </select>
                        </td>
                        <td>
                            <input class="btn btn-success form-control" type="button" name="Add" value="+" ng-click="Santer.push({})" />
                        </td>
                        <td ng-if="Santer.length>1">
                            <input class="btn btn-danger form-control" type="button" name="Remove" value="x" ng-click="Santer.splice($index, 1)" />
                        </td>

                    </tr>
                </table>

            </div>
        </div>

        <!--Formation-->
        <div ng-show="formation"  class="content-box col-md-4">
            <div>
                
                <label>Formation</label>
            </div>
            <div>
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>
                            Nom
                        </td>
                        <td>
                            Ajouter Formation
                        </td>
                    </tr>
                    <tr ng-repeat="f in Formation">
                        <td>
                            <form class="form-inline">
                                <input class="form-control" style="width:160px" list="browsers" name="browser">
                                <datalist id="browsers">
                                    <option value="Internet Explorer">
                                    <option value="Firefox">
                                    <option value="Chrome">
                                    <option value="Opera">
                                    <option value="Safari">
                                </datalist>
                                <input type="submit" value="+" class="btn btn-success">
                            </form>

                        </td>
                        <td>
                            <input class="btn btn-success form-control" type="button" name="Add" value="+" ng-click="Formation.push({})" />
                        </td>
                        <td ng-if="Formation.length>1">
                            <input class="btn btn-danger form-control" type="button" name="Remove" value="x" ng-click="Formation.splice($index, 1)" />
                        </td>
                    </tr>
                </table>
                
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <!--Inscription-->
        <div class="col-md-6">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">Inscription</div>

                    <div class="panel-options">
                        <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                        <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Date de début :</label>

                            <div class="col-md-5">
                                <input class="form-control" type="date" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Date de fin :</label>

                            <div class="col-md-5">
                                <input class="form-control" type="date" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Raison :</label>

                            <div class="col-md-8">
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Nom du contact d'urgence :</label>

                            <div class="col-md-8">
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Numéro de téléphone du contact d'urgence :</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Lien du contact d'urgence :</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Admission tiers :</label>
                            <div class="col-md-5">
                                <input class="form-control" type="checkbox" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Preuve de résidence :</label>
                            <div class="col-md-5">
                                <input class="form-control" type="checkbox" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Cours info :</label>
                            <div class="col-md-5">
                                <input class="form-control" type="checkbox" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Médicament :</label>
                            <div class="col-md-5">
                                <input class="form-control" type="checkbox" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Provenance :</label>
                            <div class="col-md-8">
                                <select class="form-control">
                                    <option>Rue</option>
                                    <option>Hôpital</option>
                                    <option>CLSC</option>
                                    <option>Autre</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Référence :</label>
                            <div class="col-md-8">
                                <select class="form-control">
                                    <option>Parents</option>
                                    <option>CLSC</option>
                                    <option>Hôpital</option>
                                    <option>Autre</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Hébergement :</label>
                            <div class="col-md-8">
                                <table>
                                    <tr>
                                        <td>Type</td>
                                        <td>Minimum</td>
                                        <td>Maximum</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control">
                                                <option>Crise</option>
                                                <option>stade 2</option>
                                                <option>satde 3</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input class="form-control" type="date" />
                                        </td>
                                        <td>
                                            <input class="form-control" type="date" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Chambre :</label>
                            <div class="col-md-8">
                                <table>
                                    <tr>
                                        <td>Adresse</td>
                                        <td>Numéro de chambre</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control">
                                                <option>297</option>
                                                <option>299</option>
                                                <option>Pavillon</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" name="numChambre" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Cours-->
        <div class="content-box col-md-4">
            <div>
                <label style="font:bold 30px;">Cours</label>
            </div>
            <br />
            <div>
                <label class="control-label">Nom d'avocat :</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>
            <div>
                <label class="control-label">Numéro de téléphone de l'avocat :</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>
            <div>

            </div>
            <div>
                <label class="control-label">Nom de l'agent de probation :</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>
            <div>

            </div>
            <div>
                <label class="control-label">Numéro de téléphone de l'agent de probation :</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>
            <div>

            </div>
            <div>
                <label class="control-label">Poste de l'agent de probation :</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>
        </div>

        <!--Médication-->
        <div class="content-box col-md-4">
            <div>
                <label style="font:bold 30px;">Médication</label>
            </div>
            <br />
            <div>
                <label class="control-label">Nom du médicament :</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>
            <div>
                <label class="control-label">Quantité par dose :</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>
            <div>

            </div>
            <div>
                <label class="control-label">Fréquence :</label>
                <div class="col-md-8">
                    <table>
                        <tr>
                            <td>Matin</td>
                            <td>Midi</td>
                            <td>Souper</td>
                            <td>Soir</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <input type="checkbox" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>


        </div>
    </div>



</div>